{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Books</h2>
    <p>Number of books: {{n_books}}</p>
    <ul class="item-list">
        {% for book in books %}
        <li class="item-card publication-item">
            <div class="publication-content">
                <h3><a href="{{ book.link_amazon }}">{{ book.title }}</a></h3>
                
                <p>
                    <a href="{{ book.link_amazon }}">Amazon</a>
                    {% if book.link_online %}
                    | <a href="{{ book.link_online }}">Online Version</a>
                    {% endif %}
                </p>
                {% if book.summary %}
                <p class="abstract">{{ book.summary }}</p>
                {% endif %}
            </div>
            {% if book.cover_image %}
            <div class="publication-image book-image">
                <img src="{{ book.cover_image }}" alt="Book Cover">
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for book in books %}
        {
          "@type": "ListItem",
          "position": {{ loop.index }},
          "item": {
            "@type": "Book",
            "name": "{{ book.title }}",
            "author": {
              "@type": "Person",
              "name": "Marcelo S. Perlin"
            },
            "datePublished": "{{ book.year }}",
            "publisher": "{{ book.publisher }}",
            "image": "{{ request.url_root.rstrip('/') }}{{ book.cover_image }}",
            "url": "{% if book.link_online.startswith('http') %}{{ book.link_online }}{% else %}{{ request.url_root.rstrip('/') }}{{ book.link_online }}{% endif %}",
             "offers": {
                "@type": "Offer",
                "url": "{{ book.link_amazon }}",
                "availability": "https://schema.org/InStock"
            }
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
    </script>
</section>
{% endblock %}