{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Books</h2>
    <p>Number of books: {{n_books}}</p>
    <div class="grid">
        {% for book in books %}
        <div class="card">
            <img src="{{ book.cover_image }}" alt="{{ book.title }}">
            <h3> {{ book.title }}</h3>
            <p>{{ book.publisher }}, {{ book.year }}</p>
            <h3><a href="{{ book.link_amazon}}">Buy on Amazon</a></h3>
            <p><a href="{{ book.link_online}}">Online Version</a></p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}