{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Code (R)</h2>
    <p>
        I fell that unrestricted access to organized datasets is one of the pillars of reproducible research, which is why I've taken so much interest in it over the years. As a result, I'm the author of many R packages distributed in CRAN. Most packages are related to importing and organizing financial and economic datasets from public sources. 
    </p>
    <p>
        If you used one of the packages in research, please use the proper citation format with R code <code>citation('pkgname')</code>.
    </p>

    <h3>R Packages:</h3>
    <p>All packages are available at <a href="https://msperlin.r-universe.dev/builds">msperlin.r-universe.dev/builds</a>.</p>
    <ul>
        {% for pkg in code_r %}
        <li>
            <strong><a href="{{ pkg.link }}">{{ pkg.title }}</a></strong>: {{ pkg.description }}<br>
            <small><em>Submitted to CRAN on: {{ pkg.date_of_submission }} | Downloads last month: {{ pkg.number_of_downloads }}</em></small>
        </li>
        {% endfor %}
    </ul>

    <h3>Other Links:</h3>
    <ul>
        <li>
            <a href="https://github.com/msperlin/">https://github.com/msperlin/</a>
        </li>
    </ul>

</section>
{% endblock %}