{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Data</h2>
    <p>
        A major part of my work as an academic researcher is finding ways to access and organize financial and economic
        datasets using code. In this section I'll provide a download link for the full datasets I use for research or
        class material. All files represent the _whole_ database, iterating by available time periods and cases. These
        files are raw and come with **no warranty**. Be aware that you'll probably need to clean it up before any good
        use. As such, please make sure to cite the original source for reproducibility (see citation format from
        dataverse).
    </p>
    <p>
        All data is distributed using the <a href="https://dataverse.harvard.edu/dataverse/msperlin">Harvard Dataverse
            Project</a>.
        The Dataverse platform is stable, provides data persistency, versioning and the automatic generation of citation
        text. You can even use the <a href="https://github.com/IQSS/dataverse-client-r">dataverse</a> package for
        reading the files from an R session.
    </p>
    <p>
        All hosted data will be updated at least once a year.
    </p>

</section>
{% endblock %}