{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="profile-photo">
        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="{{ about.name }}">
    </div>
    <div class="bio">
        <h2>Welcome</h2>
        <p>{{ about.bio }}</p>
        {% if about.email %}
        <p><strong>Email:</strong> <a href="mailto:{{ about.email }}">{{ about.email }}</a></p>
        {% endif %}
    
        <p>
            <a href="{{ about.lattes_link }}">Lattes CV</a> | <a href="{{ about.gscholar_link }}">Google Scholar</a> | <a href="{{ about.linkedin_link }}">LinkedIn</a> | <a href="{{ about.github_link }}">Github</a>
        </p>
    </div>
</section>
{% endblock %}